
.icon{
    display: inline-block;
    vertical-align: middle;
}

.icon-game{
    background: url(../images/fun.svg) no-repeat center center/contain;
    width: 41px;
    height: 41px;
}
.icon-app{
    background: url(../images/mobile-application.svg) no-repeat center center/contain;
    width: 41px;
    height: 41px;
}
.icon-android{
    background: url(../images/android-logo.svg) no-repeat center center/contain;
    width: 41px;
    height: 41px;
}
.icon-ios{
    background: url(../images/ios.svg) no-repeat center center/contain;
    width: 41px;
    height: 41px;
}
.icon-search{
    background: url(../images/icon-search.svg) no-repeat center center/contain;
    width: 25px;
    height: 25px;
}

.facebook{
    background: url(../images/facebook.svg) no-repeat center center/contain;
    width: 25px;
    height: 25px;
}
.instagram{
    background: url(../images/instagram.svg) no-repeat center center/contain;
    width: 25px;
    height: 25px;
}
.twitter{
    background: url(../images/twitter.svg) no-repeat center center/contain;
    width: 25px;
    height: 25px;
}
.youtube{
    background: url(../images/youtube.svg) no-repeat center center/contain;
    width: 25px;
    height: 25px;
}
.foo-fb{
    background: url(../images/foo-fb.svg) no-repeat center center/contain;
    width: 34px;
    height: 34px;
}
.foo-tw{
    background: url(../images/foo-tw.svg) no-repeat center center/contain;
    width: 34px;
    height: 34px;
}
.foo-ig{
    background: url(../images/foo-ig.svg) no-repeat center center/contain;
    width: 34px;
    height: 34px;
}
.foo-yt{
    background: url(../images/foo-yt.svg) no-repeat center center/contain;
    width: 34px;
    height: 34px;
}
.align-right{
    background: url(../images/align-right.svg) no-repeat center center/contain;
    width: 16px;
    height: 16px;
}