// Large devices (desktops, less than 1366px)
@media (max-width: 1366.98px) {
    header .navbar-nav .nav-link {
        font-size: 14px;
    }
    .sidebar .nav .nav-link {
        font-size: 14px;
    }
    .icon-game,
    .icon-app,
    .icon-android,
    .icon-ios {
        width: 29px;
        height: 29px;
    }
    .logo {
        width: 111px;
        height: 40px;
    }
    .title-3 {
        font-size: 14px;
    }
    .form-control {
        font-size: 14px;
    }
    .search-label-list {
        padding: 9px 18px;
        font-size: 14px;
    }
    .sosial-media .link-sos {
        width: 50px;
        height: 50px;
    }
    .top-app-list .app-cont h3 {
        font-size: 15px;
    }
    .top-app-list .app-cont p {
        font-size: 11px;
    }
    .navbar-light .navbar-toggler {
        border: 0;
        color: #232026;
        padding: 0;
    }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    .col-md-3.col--cs--3 {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 40px;
    }
    .col-md-9.col--cs--9 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .container-offset-right {
        padding-right: 15px;
    }
    header {
        padding-left: 30px;
        padding-right: 30px;
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .col-md-8.col--cs--8 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-md-4.col--cs--4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    footer {
        text-align: center;
        .text-right {
            text-align: center !important;
            margin-top: 15px;
        }
    }
    header {
        padding-left: 15px;
        padding-right: 15px;
    }
    .container-offset-right {
        padding-right: 0;
        padding-left: 0;
    }
    .search-container {
        padding: 20px 18px;
    }
    .sidebar h3 {
        padding-left: 22px;
        padding-right: 22px;
        margin-bottom: 13px;
    }
    .sidebar {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .sidebar .nav {
        padding-left: 15px;
        padding-right: 15px;
    }
    .sidebar .nav .nav-link {
        padding-left: 30px;
        padding-right: 30px;
    }
    .sidebar .nav .nav-link::before {
        left: 9px;
        top: 17px;
    }
    .navbar-nav{
        padding-top: 15px;
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .recommendation .slick-list .slick-slide {
        width: 276px;
    }
}
